@model IEnumerable<ExamsSystem.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create Course</a>
</p>
<table class=" table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    Created By
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    if (item.UserId == ViewBag.us)
                    {
                        <td> You</td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                        </td>
                    }

                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
