@model IEnumerable<ExamsSystem.Models.Result>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="ClearAll" class="btn btn-danger">Clear All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>True</th>
            <th>False</th>
            <th>Average</th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountTrue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountFalse)
            </td>
            <td>
                    @if (item.Average >= 99.0 && item.Average <= 100.0)
                    {
                        <span style="color:gold;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:bold">@item.Average &nbsp;&nbsp; A+</span>
                    }
                    @if (item.Average >= 75.0 && item.Average < 99.0)
                    {
                        <span style="color:green;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:bold">@item.Average Very Good</span>
                    }
                    @if (item.Average >= 50.0 && item.Average < 75.0)
                    {
                        <span style="color:darkgoldenrod;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bold">@item.Average Good</span>
                    }
                    @if (item.Average < 50.0 )
                    {
                        <span style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight:bold">@item.Average Fild</span>
                    }
                @*@Html.DisplayFor(modelItem => item.Average)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                    @item.User.FirstName @item.User.LastName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
